body {
    font-family: system-ui,
        -apple-system,
        Helvetica,
        Arial,
        sans-serif;
    color: #f0f0f0;
    background-color: #262528;
}

.small {
    font-size: 15px;
    line-height: 20px;
}

body {
    width: 500px;
    padding: 0px 20px 10px 20px; 
    border: 5px solid #900
}

h1 {
    margin: 10px 0px 0px 0px;
}

h2{
    margin-bottom: -10px;
}

ul {
    list-style-type: square;
    margin-left: 0;
    padding-left: 15px;
}

.vegantag {
    background-color: #228B22;
    padding: 0px 5px 1px 5px;
    text-decoration: none !important;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.halaltag {
    background-color: #ec4899;
    padding: 0px 5px 1px 5px;
    text-decoration: none !important;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.vegettag {
    background-color: #FF4500;
    padding: 0px 4px 1px 4px;
    text-decoration: none !important;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

